---
import Layout from "../layouts/Layout.astro";
import ProgressBar from "../components/ProgressBar";
import ChapterNav from "../components/ChapterNav";
import SectionOne from "../components/section-one/SectionOne";
import SectionTwo from "../components/section-two/SectionTwo";
import SectionThree from "../components/section-three/SectionThree";
import SectionFour from "../components/section-four/SectionFour";
import SectionFive from "../components/section-five/SectionFive";
import SectionSix from "../components/section-six/SectionSix";
---

<Layout>
  <ProgressBar client:load />
  <ChapterNav client:load />

  <main>
    <SectionOne client:load />
    <SectionTwo client:load />
    <SectionThree client:load />
    <SectionFour client:load />
    <SectionFive client:load />
    <SectionSix client:load />
  </main>
</Layout>
