---
import Layout from "../layouts/Layout.astro";
import ProgressBar from "../components/ProgressBar";
import ChapterNav from "../components/ChapterNav";
import SectionOne from "../components/section-one/SectionOne";
import SectionTwo from "../components/section-two/SectionTwo";
import SectionThree from "../components/section-three/SectionThree";
import SectionFour from "../components/section-four/SectionFour";
import SectionFive from "../components/section-five/SectionFive";
import SectionSix from "../components/section-six/SectionSix";
---

<Layout>
  <ProgressBar client:load />
  <ChapterNav client:load />

  <main id="main-content">
    <SectionOne client:load />
    <div class="section-divider" role="separator" aria-hidden="true"></div>
    <SectionTwo client:visible />
    <div class="section-divider" role="separator" aria-hidden="true"></div>
    <SectionThree client:visible />
    <div class="section-divider" role="separator" aria-hidden="true"></div>
    <SectionFour client:visible />
    <div class="section-divider" role="separator" aria-hidden="true"></div>
    <SectionFive client:visible />
    <div class="section-divider" role="separator" aria-hidden="true"></div>
    <SectionSix client:visible />
  </main>
</Layout>
